body,h1,div {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2b2b2b;
}

.immagini {

    width: 70%;

}

.Titolo {
    background-color:ghostwhite;
    font-size: 40px;
}

#intro {
    background-color:ghostwhite;
    display: inline-block;
    
    padding: 30px;
    text-align: center;
    min-width: 250px;
    font-size: 25px;
}

#testo {
    background-color:ghostwhite;
    display: inline-block;
    
    padding: 1%;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
}
